@font-face {
  font-family: 'roboto-mono';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'roboto-mono-italic';
  src: url('/fonts/RobotoMono-Italic-VariableFont_wght.ttf');
  font-display: swap;
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/icons.woff2') format('woff2');
}

body {
  margin: 0px;
  font-family: 'roboto-mono', sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

.page{
  display: flex;
  flex-direction: column;
  position: relative;
}

.content{
  display: flex;
  flex-direction: column;
}

.img-pad {
  padding-left: 5%;
}

.list-button {
  padding-left: 5%;
  color: blue;
  cursor: pointer;
}

.containerWhite {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  background-color: #ffffff;
}

.containerBeige {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 75vh;
  width: 100%;
  background-color: #E0D7D7;
}

.control {
  background-color: #E0D7D7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-height: 50px;
  
  .button {
    margin-right: 2rem;
  }
  .start {
    margin-left: 2rem;
  }
}

.control-container {
  background-color: #E0D7D7;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 50px;
  margin-bottom: 2em;
}

.control-right {
  background-color: #E0D7D7;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-height: 50px;
  .button {
    margin-right: 2rem;
  }
  .start {
    margin-left: 2rem;
  }
}

.fifty {
  flex-grow: 1;
}

.banner-img {
  padding: 5%
}

.content-block {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;

  &.apply {
    background: #F33434;
    font-family: 'roboto-mono';
    font-size: 18px;
    color: #fff;
    padding: 12px 24px;
    border: none;
  }
}

.red {
  color: #F33434;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'roboto-mono';
}

.hero {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  width: 80%;
  flex-wrap: wrap;
}

.hero-full{
  display: flex;
  flex-direction: row;
  max-width: 1140px;
  width: 100%;
  flex-wrap: wrap;
}

.hero-market{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}


.column-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.wide-img {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.column-container-small {
  width: 298px;
  display: flex;
  flex-direction: column;
}

.row-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  img {
    max-height: 100%;
    max-width: 100%
  }
}

.info-block {
  height: 81px;
  width: 200px;
  
}

.space {
  margin-top: 1em
}

.shadow {
  border: 2px solid #222326;
  border-radius: 5px;
  box-shadow: #222326 8px 8px 0 0;
  margin: 20px;
  padding: 20px;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

h1 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

h2 {
  box-sizing: border-box;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

span {
  font-size: 13px;
}

#mint {
  border-radius: .25rem;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'roboto-mono';
  font-size: 16px;
  font-weight: 400;
  height: 3rem;
  line-height: 1.5;
  overflow: visible;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: 40%;
  margin-right: 1rem;
}

#mint-group {
  padding: 3rem 0 3rem 0;
}

ul {
  box-sizing: border-box;
  color: #212529;
  display: grid;
  font-family: 'roboto-mono';
  line-height: 24px;
  list-style: none;
  list-style: none;
  margin-bottom: 1rem;
  margin-top: 0;
  padding: 0;
  row-gap: .5rem;
  text-align: start;
  text-justify: auto;
}

li {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(211, 211, 211, 0.32);
  border-radius: 5px;
  box-sizing: border-box;
  color: #212529;
  font-family: 'roboto-mono';
  font-size: .9rem;
  font-weight: 600;
  line-height: 21.6px;
  list-style: none;
  padding: .5rem 1rem;
  text-align: left;
  text-justify: auto;
  display: flex;
  justify-content: space-between;
}

.hightlight {
  background-color: #FFFFFF;
  border-top: 4px solid #D3D3D3;
  box-sizing: border-box;
  color: #212529;
  line-height: 24px;
  padding: 2rem 0;
  text-align: left;
  text-justify: auto;
}

#big-h1 {
  box-sizing: border-box;
  font-family: 'roboto-mono';
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 25%;
  max-width: 100%;
  
}

.align-center {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}


.description {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.description-headline {
  font-size: 64px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: .5rem;
  margin-top: 0;
}

.show {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .column-container {
    width: 100%;
    
  }
  .hide {
    display: none;
  }
  .show {
    display: flex;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    #mint-group {
      #mint {
        width: 65%;
      }
      span {
        min-width: 35%
      }
    }
   
  }
}

@media only screen and (max-width: 1000px) {
  .column-container {
    width: 100%;
    
  }
}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .img-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    padding: 25px;
    img {
      max-height: 163px;
      width:auto;
      margin: 5px;
    }
  }
  .img-box-verticle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-evenly;
    padding: 25px;
    img {
      max-height: 250px;
      width:auto;
      margin: 5px;
    }
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.cursor {
  cursor: pointer;
}

.back {
  max-width: 1140px;
  width: 80%;
  h5 {
    border: 2px solid #222326;
    border-radius: 5px;
    box-shadow: #222326 8px 8px 0 0;
    padding: 10px;
    margin-left: -21px;
    width: 10px;
    cursor: pointer;
  }

  h5:hover {
    border: 2px solid blue;
    box-shadow: blue 4px 4px 0 0;
    
  }
}

.wrap {
  flex-wrap: wrap;
}

.button {
  border: 2px solid #222326;
  border-radius: 5px;
  box-shadow: #222326 8px 8px 0 0;
  padding: 10px;
  width: 100px;
  max-height: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #E9E3E3;
}

.button:hover {
  border: 2px solid blue;
  box-shadow: blue 4px 4px 0 0;
  padding: 10px 14px 10px 14px;
}

.selected-button {
  border: 2px solid blue;
  border-radius: 100px;
  box-shadow: blue 8px 8px 0 0;
  padding: 10px;
  margin-right: 20px;
  max-height: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #E9E3E3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    border-radius: 100px;
  }
  p {
    padding-left: 5px
  }
}

.collection-button {
  border: 2px solid #222326;
  border-radius: 100px;
  box-shadow: #222326 8px 8px 0 0;
  padding: 10px;
  margin-right: 20px;
  max-height: 100%;
  cursor: pointer;
  text-align: center;
  background-color: #E9E3E3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    height: 35px;
    width: 35px;
    border-radius: 100px;
  }
  p {
    padding-left: 5px
  }
}

.collection-button:hover {
  border: 2px solid blue;
  box-shadow: blue 4px 4px 0 0;
  padding: 10px 14px 10px 14px;
}




.shadow-hover {
  border: 2px solid #222326;
  border-radius: 5px;
  box-shadow: #222326 8px 8px 0 0;
  margin: 20px;
  padding: 20px;
  cursor: pointer;
}

.shadow-hover:hover {
  border: 2px solid blue;
  box-shadow: blue 4px 4px 0 0;
}

input {
  border-radius: 5px;
  height: 30px;
  width: 50%;
  margin: 0 5px 5px 0;
}

.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  .attribute {
    flex: 1;
    min-width: 20%;
    border: 2px solid #222326;
    border-radius: 5px;
    box-shadow: #222326 4px 4px 0 0;
    padding: 10px;
    margin: 0 10px 10px 0;
    text-align: center;
    background-color: #E0D7D7;
    word-wrap: break-word;
  }
}