.nftdetails {
    &--accordion {
        &--header {
            background: $secondary;
            cursor: pointer;
            padding: 15px;
            position: relative;

            h4 {
                margin: 0;

                img {
                    @media (max-width: $tablet) {
                        height: 18px;
                        width: 18px;
                    }

                    @media (max-width: $mobile) {
                        height: 16px;
                        width: 16px;
                    }
                }
    
                span {
                    color: $white;
                    display: inline-block;
                    font-size: 18px;
                    font-weight: 500;
                    vertical-align: middle;

                    @media (max-width: $mobile) {
                        font-size: 16px;
                    }
                }
            }

            > img {
                height: 18px;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                width: 11px;

                @media (max-width: 400px) {
                    height: 14px;
                    width: 9px;
                }
            }

            &.expanded {
                > img {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }
        }

        &:first-child {
            .nftdetails--accordion--header {
                background: transparent;
            }
            .nftdetails--accordion--header--shadow {
                bottom: 0px;
                height: 100%;
                left: 0px;
                position: absolute;
                width: 100%;
    
                &:before {
                    background: $secondary;
                    bottom: 0;
                    content: "";
                    height: calc(100% - 26px);
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: -1;
                }
    
                &:after {
                    background: $secondary;
                    content: "";
                    height: 26px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: calc(100% - 26px);
                    z-index: -1;
                }
    
                &--edge {
                    background: $secondary;
                    height: 36px;
                    left: 9px;
                    position: absolute;
                    top: 3.5px;
                    transform: rotate(45deg);
                    width: 26px;
                    z-index: -1;
                }
            }
        }

        &--body {
            background: $white;
            max-height: 0;
            overflow-x: auto;
            overflow-y: hidden;
            padding: 0 10px;
            @include prefix(transition, all 0.5s ease 0s);

            &.expand {
                max-height: 4000px;
                padding: 5px 10px 15px;

                &.table {
                    padding: 0px 0px 15px;
                }
            }

            &.activity {
                overflow-x: initial;
                padding: 0;
            }

            &.table {
                tr {
                    td:first-child {
                        padding-left: 10px;
                    }
                    td:last-child {
                        min-width: 140.5px;
                        padding-right: 10px;
                    }
                }

                thead {
                    td {
                        border-bottom: 1px solid $dark-background;
                        border-top: 1px solid $dark-background;
                    }
                }
            }

            
            
            table {
                margin: 0;
                min-width: 500px;

                thead {
                    h5 {
                        margin: 0;
                    }
                }
    
                tbody { 
                    font-size: 14px;

                    span {
                        font-size: 14px;
                    }

                    td {
                        padding: 10px 0;                        
                    }
                }

                &.listings, &.bids {
                    min-width: 450px;

                    tr td:last-child {
                        text-align: right;
                    }

                    .button--text,.button {
                        min-width: 130px;
                    }

                    .button--text {
                        padding: 5px 25px;
                    }

                    td {
                        min-width: 100px;
                        width: 20%;
                    }
                }

                &.contracts {
                    tr td {
                        &:first-child {
                            min-width: 200px;
                            width: 35%;
                        }

                        &:nth-child(2),
                        &:nth-child(3) {
                            min-width: 100px;
                            width: 20%;
                        }

                        &:nth-child(4) {
                            min-width: 130px;
                            width: 25%;
                        }
                    }
                }
            }
            
            &--images {
                justify-content: space-evenly;
                @include flex();

                img {
                    margin-bottom: 20px;
                    @include flex-child(25%);

                    @media (max-width: $mobile) {
                        @include flex-child(40%);
                    }

                    &:nth-child(3n+2) {
                        margin: 0 12.5% 20px;

                        @media (max-width: $mobile) {
                            margin: 0 0 20px;
                        }
                    }
                }
            }

            &--attributes {
                .attributes-rarity {
                    display: block;
                    font-weight: 600;
                    text-align: right;
                }

                .attribute {
                    margin-top: 10px;

                    &:nth-child(2) {
                        margin-top: 5px;
                    }

                    &--name {
                        display: block;
                        font-weight: 500;
                        text-transform: capitalize;

                        @media (max-width: $tablet) {
                            font-size: 14px;
                        }
                    }

                    > div {
                        background: $secondary;
                        border-radius: 3px;
                        display: flex;
                        justify-content: space-between;
                        padding: 3px 90px 3px 10px;
                        position: relative;
                        > span {

                            &:first-child {
                                color: $white;
                                display: inline-block;
                                font-size: 14px;
                                vertical-align: middle;
                            }
                            &:nth-child(2){
                                color: $white;
                                display: inline-block;
                                font-size: 14px;
                                vertical-align: middle;
                                
                            }
                            &:nth-child(3) {
                                background: $white;
                                border-radius: 3px;
                                font-size: 14px;
                                font-weight: 600;
                                height: calc(100% - 6px);
                                line-height: 1.7;
                                min-width: 66px;
                                padding: 0 5px;
                                position: absolute;
                                right: 3px;
                                text-align: right;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }

                &--header {
                    border-bottom: 1px solid $secondary;
                    @include flex();

                    span {
                        font-size: 16px;
                        font-weight: 600;

                        @media (max-width: $tablet) {
                            font-size: 14px;
                        }

                        &:first-child {
                            @include flex-child(calc(100% - 186px));
                            @media (max-width: $tablet) {
                                @include flex-child(calc(100% - 174px));
                            }
                        }
    
                        &:nth-child(2) {
                            margin-right: 19px;
                            text-align: right;
                            @include flex-child(100px);
                            @media (max-width: $tablet) {
                                margin-right: 20px;
                                @include flex-child(88px);
                            }
                        }
    
                        &:nth-child(3) {
                            text-align: right;
                            @include flex-child(67px);
                            @media (max-width: $tablet) {
                                @include flex-child(66px);
                            }
                        }
                    }
                }
            }


            &.activity {
                .nftdetails--accordion--body--table--top {
                    > table {
                        td {
                            border-bottom: 1px solid $dark-background;
                            border-top: 1px solid $dark-background;
                        }                    
                    }
                }

                .nftdetails--accordion--body--table,
                .nftdetails--accordion--body--table--top  {
                    table {
                        tbody td,
                        thead td {
                            min-width: 110px;
                            width: 15%;

                            &:first-child {
                                min-width: 135px;
                                padding-left: 10px;
                                width: 20%;
                            }
                            &:last-child {
                                min-width: 135px;
                                padding-right: 10px;
                                width: 20%;
                            }
                        }
                    }
                }
            }

            

            &--search {
                align-items: center;
                flex-wrap: wrap;
                padding: 10px 10px 0 10px;
                @include flex();

                .dd-wrapper {
                    margin: 0 15px 10px 0;
                }

                &--items {
                    flex-wrap: wrap;
                    @include flex();
                }

                button.dd-header.edge {
                    width: 100%;
                }

                .nftList--filters--current--filter {
                    min-width: 85px;
                }
            }

            &--table {
                max-height: 400px;
                min-height: 200px;
                overflow-x: auto;
                position: relative;

                @media (max-width: $tablet) {
                    max-height: 350px;
                }

                &--top {
                    background: $white;
                    position: sticky;
                    top: 0;
                    width: 100%;
                    z-index: 8;
                }

                table {
                    .noresults {
                        align-items: center;
                        display: flex;
                        height: calc(100% - 26px);
                        justify-content: center;
                        position: absolute;
                        width: 100%;

                        td {
                            opacity: 0.7;
                            text-align: center;
                        }

                        img {
                            display: inline-block;
                            height: 35px;
                            width: 35px;
                        }

                        span {
                            display: block;
                            font-size: 21px;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}