$primary: #5FECEF;
$secondary: #242534;
$tertiary: #167677;


$dark: #16151a;
$grey: #8e8e8e;

$dark-grey: #2E3034;
$light-grey: #d7e4eb;
$light-pruple: #A368EA;
$rare-color: #e9941c;

$background-body: #eef1f5;
// #d8f0fe;
// #15434E;


$darkest-blue: #041D24;
//  #04171C;
$dark-blue: #242534;
$light-blue: #4E8A9A;

$property-name-dark: #a5a6a9;

$dark-background: #424450;

$white: #ffffff;
$off-white: #F4FDFF;
$grey: #C4C4C4;
$green: #30B12E;
$red: #B12E2E;

$border-color: #5FECEF;

$base-font: 'Montserrat', sans-serif;
$font-size: 16px;

$link: $primary;
$link-visited: #42bec1;
$link-hover: #167677;

$base-font-color: #242534;
$base-font-light-color: #F9E8BE;
$base-font-family: 'Montserrat', sans-serif;
$base-line-height: 1.5;
$base-font-size: 16px;

$input-bg: #f5f5f5;

$page-width: 1640px;

$tablet: 1088px;
$mobile: 600px;